html{
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}


.containerprofile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

#logo {
    margin-left: 20px;
    width: 150px;
}


nav {
    font-style: bold;
    font-family: 'Poppins';
    
}

.custom-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #a8a8a87c;  /* Cambia el color de fondo */
    padding: 2px;
}


body{
background-color: black;
}

h1{
color: white;
text-align: center;
font-family: 'Poppins';
}

#cardCarousel {
    padding: 20px; /* Añade espaciado interior para separar el carrusel de otros elementos */
}

.card{
    background-color: #000;
    border-color: #e42527;
    width: 800px; /* Ancho de las tarjetas */
    height: 250px; /* Ealtura para todas las tarjetas */

}

.card-title {
    font-size: 2rem; /* Tamaño de fuente del título */
    font-family: 'Poppins';
    color: #a8a8a8;
}

.card-text {
    font-size: 1rem; /* Tamaño de fuente del texto */
    font-family: 'Montserrat';
    color: white;
}

#vision{
    width: 500px;
    height: 400px;
    padding-left: 30px;

}

#mision{
    width: 500px;
    height: 400px;
}

h3{
    color: white;
    font-family: 'Poppins';
    padding: 20px;
}

.p-mision {
    text-align: justify;
    color: white;
    font-family: 'Montserrat';
    font-size: large;
    padding: 20px;
    margin: auto;
}

.p-vision {
    text-align: justify;
    color: white;
    font-family: 'Montserrat';
    font-size:large;
    padding: 20px;
    margin: auto;
}


.config-menu {
    display: none;
    position: absolute;
    top: 100%; /* pone menú debajo de la imagen de perfil */
    right: 0; /* menú a la dercha de la imagen de la bruja */
    background-color: #a8a8a8; 
    box-shadow: 0 0 10px #000000; /*sombra al menú creo*/
    z-index: 1; /* menu encima */
}

.config-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.config-menu ul li {
    padding: 10px;
    text-align: left; 
}

.config-menu ul li a {
    text-decoration: none;
    color: #000000; 
    display: block;
    font-size: medium;
}

/* Estilos para cambiar la apariencia cuando se pasa el ratón sobre las opciones del menú */
.config-menu ul li a:hover {
    background-color: #e425282a; /* color de fondo al pasar el ratón */
}




/* Estilo para el footer */
footer {
    background-color: #a8a8a8;
    color: white;
    padding: 10px;
}

/* Contenedor principal del footer */
.footer-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilo para el logo en el footer */
.footerlogo {
    width: 100px;
    margin: 0 auto;
    /* Centrar horizontalmente */
}

/* Estilo para las divisiones entre el logo y los íconos */
.divider {
    margin-top: 10px;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
}

/* Estilo para los íconos de redes sociales */
.social-icons {
    margin-top: 20px;
}


/* Estilo para las imágenes de íconos de redes sociales */
.social-icon img {
    width: 30px;
    height: 30px;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;

}
