
/* Agregamos la imagen de fondo en el body*/

body {
    background-color: black;
    background-image: url(../images/Fondo\ Contactanos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;



}

.containerprofile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

#logo {
    margin-left: 20px;
    width: 150px;
}


nav {
    font-style: bold;
    font-family: 'Poppins';

}

.custom-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #a8a8a87c;  /* Cambia el color de fondo */
    padding: 2px;
}




.card-body {
 margin: 20px;
 background-position: 2em;

    
}

.text-center {
    background-color: #000;
    opacity: .6;
    margin: 150px;
   
    
}

.card-title{
    color: white;
}

.card-text{
    color: white;
}

.boton{
    background-color: #030303;
    color: red;
    border-radius: 10px;
   cursor: pointer;
}







