@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@400;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/axville-WcrqKjgMPfI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Bree Serif', serif;
    font-family: 'Poppins', sans-serif;
}
.background {
    background-color: black;
    opacity: 0.8;
    width: 500px;
    height: 520px;
    border-radius: 30px;
    text-align: center;
    color: white;
}
.tarjeta {
    background-color: transparent;
    text-align: center;
    padding: 10px 50px;
}
.sinContraseña {
    color: white;
    text-decoration: none;
    display: block;
}
.sinContraseña:hover {
    text-decoration: underline;
}
.registro{
    margin-top: 20px;
    display: inline-block;
}
.sinCuenta{
    color: white;
}
.linkRegistro {
    color: #e42527;
    text-decoration: none;
}
.linkRegistro:hover {
    text-decoration: underline;
}
.form-floating label {
    color: black;
}