/* Fuentes para todo el documento */
html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../images/fondoNegroConRojo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    
}

.background {
    max-width: 600px;
    min-height: 620px;
    background-color: black;
    border-radius: 30px;
    opacity: 0.8;
    padding: 10px 50px;
    margin: 20px auto;
}


/* Barra de navegación */
.custom-navbar {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo { /* Estilo para el logo en la barra de navegación */
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    text-align: left;
}
.containerProfile { /* Estilo para el contenedor del perfil en la barra de navegación */
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.perfil {   /* Estilo para la imagen de perfil en la barra de navegación */
    width: 45px;
    border-radius: 50%
}
/* Estilo para el menú de configuración */
.config-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000000;
    box-shadow: 0 0 10px #e42527;
    z-index: 1;
    border-radius: 5px;
    margin-right: 10px;
}
.config-menu ul {   /* Estilo para la lista del menú de configuración */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 260px;
}
.config-menu ul li {    /* Estilo para los items del menú de configuración */
    padding: 10px;
    text-align: left;
    align-items: center;
}
.config-menu ul li:hover {    /* color de fondo al pasar el ratón */
    background-color: #e4252846;
    border-radius: 5px;
    margin: 5px;
}
.config-menu ul li a {  /* Estilo para los links del menú de configuración */
    text-decoration: none;
    color: #ffffff;
    font-size: large;
}
.config-menu ul li img{    /* Estilo para los iconos del menú de configuración */
    height: 20px;
    margin-bottom: 5px;
}
.config-menu ul hr {    /* color de fondo al pasar el ratón */
    margin: 5px 0;
    border: solid 2px #000000;
    margin-inline: 10px 30px;
}
/*termiman estilos de navbar*/




/*Estilos para formulario*/
.tarjeta {
    background-color: black;
    text-align: center;
    padding: 10px 50px;
}

.sinContraseña {
    color: white;
    text-decoration: none;
    display: block;
}

.sinContraseña:hover {
    text-decoration: underline;
}

.registro {
    margin-top: 20px;
    display: inline-block;
}

.sinCuenta {
    color: white;
}

.linkRegistro {
    color: #e42527;
    text-decoration: none;
}

.linkRegistro:hover {
    text-decoration: underline;
}

.form-floating label {
    color: black;
}





