body {
    background-color: #000000;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: white;
}


/* Barra de navegación */
.custom-navbar {
    background-color: #8a8a8a80;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo { /* Estilo para el logo en la barra de navegación */
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    text-align: left;
}
.containerProfile { /* Estilo para el contenedor del perfil en la barra de navegación */
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.perfil {   /* Estilo para la imagen de perfil en la barra de navegación */
    width: 45px;
    border-radius: 50%
}
/* Estilo para el menú de configuración */
.config-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #5d5d5dd0;
    box-shadow: 0 0 10px #000000;
    z-index: 1;
    border-radius: 5px;
    margin-right: 10px;
}
.config-menu ul {   /* Estilo para la lista del menú de configuración */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 260px;
}
.config-menu ul li {    /* Estilo para los items del menú de configuración */
    padding: 10px;
    text-align: left;
    align-items: center;
}
.config-menu ul li:hover {    /* color de fondo al pasar el ratón */
    background-color: #e4252846;
    border-radius: 5px;
    margin: 5px;
}
.config-menu ul li a {  /* Estilo para los links del menú de configuración */
    text-decoration: none;
    color: #ffffff;
    font-size: large;
}
.config-menu ul li img{    /* Estilo para los iconos del menú de configuración */
    height: 20px;
    margin-bottom: 5px;
}
.config-menu ul hr {    /* color de fondo al pasar el ratón */
    margin: 5px 0;
    border: solid 2px #000000;
    margin-inline: 10px 30px;
}


/* Personal info */
.containerFondoPerfil {
    height: 400px;
    /* Alto deseado del contenedor */
    overflow: hidden;
    position: relative;
    margin-top: -120px;
    z-index: -1;
}

.fondoPerfil {
    width: 100%;
    position: relative;
    margin-top: -200px;
}

.containerFotoPerfil {
    margin-top: -100px;
    margin-left: 100px;
}

.containerFotoPerfil img {
    border-radius: 50%;
    width: 200px;
}

.containerNickname {
    margin-top: -105px;
    margin-left: 320px;
}

.containerNickname h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.col-xl-6 {
    margin-top: 60px;
}

.containerJuegosLogros h2 {
    margin-left: 50px;
}

.menuJuegos {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    /* Muestra los elementos en línea */
}

.menuJuegos li {
    display: inline-block;
    /* Muestra los elementos en línea */
}

.juego {
    width: 180px;
    margin-inline: 20px;
}

.containerLogros {
    width: 180px;
    margin-top: -16px;
    margin-inline: 8px;
    justify-content: center;
}

.logro {
    margin: 0 6px;
    padding-inline: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

#verMasJuegos {
    width: 100px;
    margin-inline: 20px;
    vertical-align: baseline;
    margin-bottom: 50%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin-left: 30px;
    margin-top: 10px;
}

.containerAmigos {
    margin-top: 15px;
    margin-right: 20px;
}

.containerAmigos h2 {
    margin-left: 50px;
}

.menuAmigos {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    /* Muestra los elementos en línea */
}

.menuAmigos li {
    display: inline-block;
    /* Muestra los elementos en línea */
}

.menuAmigos img {
    width: 120px;
    margin-inline: 20px;
    border-radius: 50%;
}

#verMasAmigos {
    border-radius: 10%;
    width: 100px;
    margin-inline: 20px;
}

.containerMadePubli {
    margin-inline: 50px;
    width: 100%;
    margin-right: 500px;
    align-items: center;
}
.containerMadePubli textarea{
    background-color: #8a8a8a80;
    border: none;
}
.containerMadePubli textarea::placeholder {
    color: white;
    margin: 50px;
}
.containerMadePubli img {
    width: 80px;
    margin-top: -90px;
    margin-left: 650px;
    margin-bottom: 20px;
}
.containerMadePubli button {
    margin-top: -90px;
    margin-left: 760px;
    margin-bottom: 60px;
    padding: 15px 20px;
}

.containerPubli {
    background-color: white;
    width: 100px;
    margin-inline: 50px;
}