body {
    background-color: #000000;
    color: aliceblue;
}

/* Barra de navegación */
.custom-navbar {
    background-color: #8a8a8a80;
    position: sticky;
    top: 0;
    
}

.logo {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    text-align: left;
}

.perfil {
    width: 45px;
    border-radius: 50%
}

.containerProfile {
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Personal info */
.containerFondoPerfil {
    height: 400px; /* Alto deseado del contenedor */
    overflow: hidden;
    position: relative;
    margin-top: -120px;
    z-index: -1;
}
.fondoPerfil {
    width: 100%;
    position: relative;
    margin-top: -200px;
}
.container-FotoPerfil {
    margin-top: -100px;
    margin-left: 100px;
}
.container-FotoPerfil img{
    border-radius: 50%;
    width: 200px;
}
.container-Nickname {
    margin-top: -105px;
    margin-left: 320px;
}
.container-Nickname h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.containerJuegosLogros{
    margin-top: 100px;
    margin-inline: 300px;
}

.containerJuegosLogros h1{
    margin-left: 100px;
}

.scrollmenu {
    margin-top: 30px;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: inline-block; /* Muestra los elementos en línea */
}

.menu li {
    display: inline-block; /* Muestra los elementos en línea */
    margin-right: 20px; /* Espacio entre elementos */
}

.menu img {
    width: 200px;
    margin-inline: 50px;
}

#verMas{
    width: 150px;
    margin-inline: 50px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}