body {
    background-color: #000000;
    color: aliceblue;
}

/* Barra de navegación */
.custom-navbar {
    background-color: #8a8a8a80;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    margin-left: 20px;
    width: 200px;
    text-align: left;
}

.perfil {
    margin-right: 20px;
    width: 60px;
    border-radius: 50%
}

/* Personal info */

/* Estilos para pantallas pequeñas (hasta 576px de ancho) */
@media (max-width: 576px) {
    .containerFondoPerfil {
        height: 400px; /* Alto deseado del contenedor */
        overflow: hidden;
        position: relative;
        margin-top: -120px;
        z-index: -1;
    }
    .fondoPerfil {
        width: 100%;
        position: relative;
        margin-top: -50px;
    }
}

/* Estilos para pantallas medianas (de 577px a 991px) */
@media (min-width: 577px) and (max-width: 991px) {
    .containerFondoPerfil {
        height: 40rem; /* Alto deseado del contenedor */
        overflow: hidden;
        position: relative;
        margin-top: -120px;
        z-index: -1;
    }
    .fondoPerfil {
        width: 100%;
        position: relative;
        margin-top: -50px;
    }
}

/* Estilos para pantallas grandes (a partir de 992px) */
@media (min-width: 992px) {
    .containerFondoPerfil {
        height: 450px; /* Alto deseado del contenedor */
        overflow: hidden;
        position: relative;
        margin-top: -120px;
        z-index: -1;
    }
    .fondoPerfil {
        width: 100%;
        position: relative;
        margin-top: -180px;
    }
    .container-FotoPerfil {
        margin-top: -250px;
        margin-left: 100px;
    }
    .container-FotoPerfil img{
        border-radius: 50%;
        width: 350px;
    }
    .container-Nickname {
        margin-top: -200px;
        margin-left: 480px;
    }
    .container-Nickname h1 {
        color: white;
        font-size: 70px;
    }
}

.containerJuegosLogros{
    margin-top: 150px;
}

.containerJuegosLogros h1{
    margin-left: 100px;
}

.scrollmenu {
    margin-top: 30px;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: inline-block; /* Muestra los elementos en línea */
}

.menu li {
    display: inline-block; /* Muestra los elementos en línea */
    margin-right: 20px; /* Espacio entre elementos */
}

.menu img {
    width: 250px;
    margin-inline: 50px;
}

#verMas{
    width: 150px;
    margin-inline: 50px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}