/* Fuentes para todo el documento */
html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el body */
body {
    background-color: #000000;
    overflow-x: hidden;
    overflow-x: hidden;
    color: white;
}

/* Barra de navegación */
.custom-navbar {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo { /* Estilo para el logo en la barra de navegación */
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    text-align: left;
}
.containerProfile { /* Estilo para el contenedor del perfil en la barra de navegación */
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.perfil {   /* Estilo para la imagen de perfil en la barra de navegación */
    width: 45px;
    border-radius: 50%
}
/* Estilo para el menú de configuración */
.config-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000000;
    box-shadow: 0 0 10px #e42527;
    z-index: 1;
    border-radius: 5px;
    margin-right: 10px;
}
.config-menu ul {   /* Estilo para la lista del menú de configuración */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 260px;
}
.config-menu ul li {    /* Estilo para los items del menú de configuración */
    padding: 10px;
    text-align: left;
    align-items: center;
}
.config-menu ul li:hover {    /* color de fondo al pasar el ratón */
    background-color: #e4252846;
    border-radius: 5px;
    margin: 5px;
}
.config-menu ul li a {  /* Estilo para los links del menú de configuración */
    text-decoration: none;
    color: #ffffff;
    font-size: large;
}
.config-menu ul li img{    /* Estilo para los iconos del menú de configuración */
    height: 25px;
    margin-bottom: 5px;
    border-radius: 50%;
}
.config-menu ul hr {    /* color de fondo al pasar el ratón */
    margin: 5px 0;
    border: solid 2px #000000;
    margin-inline: 10px 30px;
}
/*termiman estilos de navbar*/



/* Personal info */
.contSuperior {
    height: 450px;
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
.contProfileBack {  /*Contenedor de la imagen de fondo*/
    width: 1440px;
    height: 300px;
    z-index: 1;
}
.contProfileBack img {  /*Imagen de fondo*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contProfilePick {  /*Contenedor de la imagen de perfil*/
    position: absolute;
    top: 250px;
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar horizontalmente */
    z-index: 2;
}
.contProfilePick img {  /*Imagen de perfil*/
    border-radius: 50%;
    width: 200px;
}
.contNickname { /*Contenedor del nickname*/
    position: absolute;
    top: 450px;
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar horizontalmente */
    z-index: 2;
}
.contNickname h1 {  /*Nickname*/
    font-size: 40px;
    font-weight: bold;
}


/* PARTE DOS */
.rowFather {
    margin: 0;
}

/* Columna izquierda */
.colLeft{
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Scroll Juegos y Logros */
.containerJuegosLogros{
    width: 750px;
    height: 300px;
    overflow: hidden;
}
.containerJuegosLogros h2{
    position: relative;
    left: 10px;
}
.scrollMenuJuegos {
    height: 250px;
    overflow: auto;
    white-space: nowrap;
    margin-top: 10px;
    padding: 0;
}
.menuJuegos {
    padding: 0;
    margin: 0;
}
.menuJuegos li {
    display: inline-block;  /* Muestra los elementos en línea */
    margin-right: 25px;
}
.containerJuego {
    width: 180px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.juego {
    width: 180px;
}
.containerLogros {
    height: 40px;
    position: relative;
    top: -20px;
}
.logro {
    margin-inline: 6px;
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}
#verMasJuegos {
    width: 100px;
    vertical-align: baseline;
    margin-bottom: 50%;
    margin-inline: 0;
}
/* Scroll Amigos */
.containerAmigos {
    width: 750px;
    height: 200px;
    overflow: hidden;
}
.containerAmigos h2 {
    position: relative;
    left: 10px;
}
.scrollMenuAmigos {
    overflow: auto;
    white-space: nowrap;
    margin-top: 10px;
    padding: 0 0 30px 0;
}
.menuAmigos {
    padding: 0;
    margin: 0;
}
.menuAmigos li {
    display: inline-block;  /* Muestra los elementos en línea */
    margin-right: 20px;
}
.menuAmigos img {
    width: 120px;
    border-radius: 50%;
}
#verMasAmigos {
    border-radius: 10%;
    width: 100px;
}

/* Columna Derecha */
.colRight{
    margin-top: 10px;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colRight .row {
    width: 100%;
}
/* Publicaciones */
.containerMadePubli {
    padding: 0;
}
.containerMadePubli textarea {
    width: 700px;
    max-height: 200px;
    min-height: 200px;
    background-color: #8a8a8a80;
    border-radius: 10px;
    margin: 0 auto;
}
.containerMadePubli textarea::placeholder {
    color: white;
    font-size: 20px;
}
.containerMadePubli img {
    width: 50px;
    position: relative;
    left: 620px;
    bottom: 60px;
}
.containerMadePubli button {
    position: relative;
    left: 640px;
    bottom: 60px;
}